@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("/fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fjalla One";
  src: url("/fonts/FjallaOne-Regular.woff") format("woff"),
    url("/fonts/FjallaOne-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
