:root {
  --container-width: 1520px;
  --container-padding: 40px;

  --font-main: "Fjalla One", sans-serif;
  --font-accent: "SourceSansPro-Regular", sans-serif;

  --page-bg: #fff;
  --text-color-blue: #1c3369;
  --text-color-dark: #1b1b1b;
  --text-color-gray: #5e5e5e;
  --accent: #ac182c;

  --laptop-size: 1600px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}
